{% extends 'base.html' %}

{% load static %}


{% load crispy_forms_tags %}
{% crispy userform user_form.helper %}
{% crispy profileform profile_form.helper %}

{% block specific_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/style_II.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/responsive2.css" %}" />
{% endblock specific_css %}

{% block header %}
{% include "header2.html" %}
{% endblock header %}

{% block content %}
<!-- jp Tittle Wrapper Start -->
<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>candidate-Profile</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                <li>candidate-Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- jp profile Wrapper Start -->
<div class="jp_cp_profile_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="jp_cp_left_side_wrapper">
                    <div class="jp_cp_left_pro_wallpaper">
                        <img src="/media/{{ user.perfil.foto_perfil }}" alt="profile_img">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <p>{{ user.perfil.carrera }}</p>
                    </div>
                    <div class="jp_cp_rd_wrapper">
                        <ul>
                            <li><a href="{{ user.perfil.cv.url }}" target="_blank"><i class="fa fa-download"></i>
                                    &nbsp;Descargar CV</a></li>
                            <li><a style="display: none"></a></li>
                        </ul>
                    </div>
                    <div class="jp_cp_rd_wrapper">
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#modal-edit-profile"><i
                                        class="fa fa-edit"></i> &nbsp;Editar Perfil</a></li>
                            <li><a style="display: none"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="jp_cp_right_side_wrapper">
                    <div class="jp_cp_right_side_inner_wrapper">
                        <h2>DATOS PERSONALES</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-w25">Nombre</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.first_name }} {{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Rut</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.perfil.rut }}</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Email</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Tipo de Empleo</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.perfil.empleo }}</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Año de Ingreso</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.perfil.ano_ingreso }}</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Año de Egreso</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.perfil.ano_egreso }}</td>
                                </tr>
                                <tr>
                                    <td class="td-w25">Egresado/a</td>
                                    <td class="td-w10">:</td>
                                    <td class="td-w65">{{ user.perfil.egresado|yesno:"Sí,No,?" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="jp_cp_accor_heading_wrapper">
                            <h2>Perfil Profesional</h2>
                            <p>{{ user.perfil.perfil_pro }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="accordion_wrapper abt_page_2_wrapper">
                            <div class="panel-group" id="accordion_threeLeft">


                                <!-- /.panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree"
                                                aria-expanded="false">
                                                DIPLOMA IN COMPUTER
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyLeftThree" class="panel-collapse collapse"
                                        aria-expanded="false" role="tablist">
                                        <div class="panel-body">
                                            Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci,
                                            nec semper purus ultrices idorbi nec lorem risus orbi vitae felis
                                            gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree2"
                                                aria-expanded="false">
                                                HIGHER SECONDRY EDUCATION
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyLeftThree2" class="panel-collapse collapse"
                                        aria-expanded="false" role="tablist">
                                        <div class="panel-body">
                                            Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci,
                                            nec semper purus ultrices idorbi nec lorem risus orbi vitae felis
                                            gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse"
                                                data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree3"
                                                aria-expanded="false">
                                                HIGH SCHOOL DEGREE
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyLeftThree3" class="panel-collapse collapse"
                                        aria-expanded="false" role="tablist">
                                        <div class="panel-body">
                                            Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci,
                                            nec semper purus ultrices idorbi nec lorem risus orbi vitae felis
                                            gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                            </div>
                            <!--end of /.panel-group-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp profile Wrapper End -->
<!-- Start Modal -->
<!-- Modal -->
<div class="modal fade" id="modal-edit-profile" tabindex="-1" role="dialog" aria-labelledby="modal-edit-profileLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-edit-profileLabel">Editar Perfil</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    
                    {% crispy user_form %}
                    {% crispy profile_form %}

                    {{ user_form.first_name.value }}
                </form>
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
{% endblock content %}

{% block specific_js %}
<script src="{% static "js/jquery.magnific-popup.js" %}"></script>
<script src="{% static "js/custom_II.js" %}"></script>
{% endblock specific_js %}
