{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% crispy example_form requirement_form.helper %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_II.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/requerimientos.css' %}"/>

    <!-- favicon links -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/header/favicon.ico' %}"/>
{% endblock specific_css %}

{% block header %}
    {% include "header2.html" %}
{% endblock header %}

{% block content %}
{#    <!-- jp Tittle Wrapper Start -->#}
{#    <div class="jp_tittle_main_wrapper">#}
{#        <div class="jp_tittle_img_overlay"></div>#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                    <div class="jp_tittle_heading_wrapper">#}
{#                        <div class="jp_tittle_heading">#}
{#                            <h2>Add-Posting</h2>#}
{#                        </div>#}
{#                        <div class="jp_tittle_breadcrumb_main_wrapper">#}
{#                            <div class="jp_tittle_breadcrumb_wrapper">#}
{#                                <ul>#}
{#                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>#}
{#                                    <li>Add-Posting</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- jp Tittle Wrapper End -->#}
    <!-- jp ad post Wrapper Start -->
    <div class="jp_adp_main_section_wrapper">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_adp_form_heading_wrapper">
                            <h1 class="text-primary">Formulario de Requerimientos de Empresas</h1>
                        </div>
                        <hr>
                    </div>
                    <div>
                        {% crispy form %}
{#                        {% if form.errors %}#}
{#    {% for field in form %}#}
{#        {{ field }}#}
{#        {% for error in field.errors %}#}
{#            <div class="alert alert-danger">#}
{#                <strong>{{ error|escape }}</strong>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#    {% for error in form.non_field_errors %}#}
{#        <div class="alert alert-danger">#}
{#            <strong>{{ error|escape }}</strong>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endif %}#}
                    </div>
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            {{ form.nombre_empresa|as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="textarea_requerimientos">#}
{#                            {{ form.descripcion|as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            {{ form.representante|as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            {{ form.celular|as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            {{ form.email|as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="jp_adp_form_heading_wrapper">#}
{#                            <h2 class="text-primary">Día de Asistencia</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                        <div class="jp_adp_form_heading_wrapper">#}
{#                            {{ form.dia_asistencia|as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div>#}
{#                        <div class="jp_adp_form_heading_wrapper">#}
{#                            <input type="submit" value="Submit">#}
{#                        </div>#}
{#                    </div>#}



{#                        <div class="jp_adp_form_wrapper">#}
{#                            <select>#}
{#                                <option>Job Location</option>#}
{#                                <option>Job Location</option>#}
{#                                <option>Job Location</option>#}
{#                                <option>Job Location</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">#}
{#                                <div class="jp_adp_form_wrapper">#}
{#                                    <input type="text" placeholder="Salary Min">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">#}
{#                                <div class="jp_adp_form_wrapper">#}
{#                                    <input type="text" placeholder="Salary Max">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            <input type="text" placeholder="Notic Period">#}
{#                        </div>#}

{#                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom_line_Wrapper">#}
{#                        <div class="jp_adp_form_heading_wrapper">#}
{#                            <p>Fields with * are mandetory</p>#}
{#                        </div>#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            <select>#}
{#                                <option>Job Category</option>#}
{#                                <option>Job Category</option>#}
{#                                <option>Job Category</option>#}
{#                                <option>Job Category</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            <select>#}
{#                                <option>Job Type</option>#}
{#                                <option>Job Type</option>#}
{#                                <option>Job Type</option>#}
{#                                <option>Job Type</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            <input type="text" placeholder="Skills required">#}
{#                        </div>#}
{#                        <div class="jp_adp_form_wrapper">#}
{#                            <input type="text" placeholder="Joining facilities">#}
{#                        </div>#}
{#                    </div>#}

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_adp_choose_resume">
                            <p>Company Post</p>
                            <div class="custom-input">
                                <span><i class="fa fa-upload"></i> &nbsp;Upload Job Post</span>
                                <input type="file" name="resume" id="resume"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_adp_choose_resume_bottom_btn_post">
                            <ul>
                                <li>
                                    <a id="id-send-form-req" href="javascript:{}" onclick="document.getElementById('id-req-form').submit();">
                                    <i class="fa fa-plus-circle"></i>&nbsp; Siguiente</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                

            </div>
        </div>
    </div>

    <!-- jp ad post Wrapper End -->
{% endblock content %}

{% block specific_js %}

    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/custom_II.js' %}"></script>
    <!--main js file end-->
    <script>
        $("#id-send-form-req").click(function(){        
            $("#id-req-form").submit(); // Submit the form
        });        
    </script>

{% endblock specific_js %}


